.gallery-container {
  width: 90%;
  height: 90%;
}

:host {
  display: block;
  height: 100%;
  min-height: 100vh;
  padding: 0.5rem 0 0 2rem;
  transition: background-color 5000ms ease-in;
  background-color: #0dce7e;
}