:host {
  padding: 10vh 0 0 3vw;
  min-height: 100vh;
  display: block;
  background-color: #f0f0f0;

  &.dark {
    background-color: #1f1f1f;
  }

  .albums {
    padding: 10px 0;

    a {
      cursor: pointer;
      &:not(:first-child) {
        padding: 10px;
      }

      &:hover,
      &.active {
        color: #93a09b;
      }
    }
  }

  .dark {
    color: #f0f0f0;
    background-color: #1f1f1f;

    a:hover,
    a:active {
      color: #b5c4be;
    }
  }
}
