:host {
  padding: 10vh 0 0 3vw;
  display: block;
  background-color: #ffffff;

  &.dark {
    background-color: #000000;
  }

  .albums {
    padding: 10px 0;

    a {
      cursor: pointer;
      &:not(:first-child) {
        padding: 10px;
      }

      &:hover, &.active {
        color: #0dce7e;
      }
    }
  }

  .dark {
    color: #ffffff;
    background-color: #000000;
  }
}