.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #d9d9d9;

  .hamburger-menu {
    background: url('../../assets/images/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: block;
  }

  .close {
    background: url('../../assets/images/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 1rem 0.5rem;
    display: block;
  }
}

.menu {
  height: calc(100vh - 4rem);
  .overlay {
    position: absolute;
    z-index: 3;
    width: 100vw;
  }
}