<div class='container' [ngClass]="{'row': mode === 'sidebar', 'column': mode === 'menu-bar'}">
  <aside #sidebar class='sidebar' fxHide fxShow.gt-sm>
    <app-sidebar height='calc(100vh - 2rem)'></app-sidebar>
  </aside>
  <aside #menubar class='menu-bar' fxHide fxShow.sm fxShow.lt-sm>
    <app-menu-bar (toggle)='toggleContent($event)'></app-menu-bar>
  </aside>
  <main>
    <router-outlet></router-outlet>
    <div class='hero' *ngIf='isHome'>
      <div class='intro' [@appear] [ngClass]="{'large': mode === 'sidebar'}">
        <div class='title'>Hi, I'm Krishna Acondy.</div>
        <div routerLink='web-development' class='subtitle web-development'>I'm a web developer.</div>
        <div routerLink='photography' class='subtitle photography'>I take pictures.</div>
        <div routerLink='design' class='subtitle design'>I design things.</div>
      </div>
    </div>
  </main>
</div>