@mixin image-button($url) {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  display: inline-block;
  background: url($url);
  background-size: cover;

  &:hover {
    opacity: 0.75;
  }
}

:host {
  display: block;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
    height: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: column;

  &.padded-gt-sm {
    padding-top: 20vh;
    padding-left: 5vw;
  }

  &.padded-sm {
    padding-top: 1vh;
    padding-left: 5vw;
  }

  &.padded {
    padding-top: 10vh;
    padding-left: 5vw;
  }

  .intro {
    &.large {
      align-self: center;

      .title {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 2.25rem;
      }

      a.subtitle {
        display: block;
        cursor: pointer;
      }
    }

    .wrapper {
      display: flex;
      &.light {
        * {
          color: #2e2e2e;
        }
      }

      .right {
        display: flex;
        align-items: center;
      }
    }

    .title {
      font-size: 4rem;
      padding-bottom: 0.5rem;
      color: #ffffff;
    }

    .subtitle {
      padding-bottom: 0.5rem;
      font-size: 2.25rem;
      cursor: pointer;
      color: #ffffff;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
      text-align: center;
    }

    .hero-title {
      font-size: 4rem;
      font-family: 'Grouch';
    }

    @media screen and (max-width: 600px) {
      .hero-title {
        font-size: 4rem;
      }
    }

    .links {
      a {
        font-size: 2em;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.contact {
  opacity: 0;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  .github-logo {
    @include image-button('../assets/images/github-logo-dark.png');
  }

  .instagram-logo {
    @include image-button('../assets/images/instagram-logo-dark.png');
  }

  .linkedin-logo {
    @include image-button('../assets/images/linkedin-logo-dark.png');
  }

  .email-icon {
    @include image-button('../assets/images/email-dark.png');
  }

  &.dark {
    .github-logo {
      @include image-button('../assets/images/github-logo.png');
    }

    .instagram-logo {
      @include image-button('../assets/images/instagram-logo.png');
    }

    .linkedin-logo {
      @include image-button('../assets/images/linkedin-logo.png');
    }

    .email-icon {
      @include image-button('../assets/images/email.png');
    }
  }
}

.appear {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition-delay: 1.25s;
}

.dark-mode-button {
  background-color: transparent;
  position: fixed;
  z-index: 5;
  top: 12px;
  right: 12px;
  font-size: 200%;
  border: 0px solid transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (max-width: 600px) {
  .dark-mode-button {
    left: 85%;
  }
}

.memoji {
  background: url('../assets/images/me.jpeg') no-repeat;
  width: 10em;
  height: 10em;
  background-size: cover;
  position: relative;
  bottom: 0.5em;
  border-radius: 50%;
}
