<button class='menu-toggle' (click)='onClick()'>
</button>
<nav>
  <ul class='menu'>
      <li *ngFor='let menuItem of menuItems'
        class='subtitle'
        [attr.data-text]='menuItem.name'
        (click)='navigateTo(menuItem.link)'>
          {{ menuItem.name }}
      </li>
  </ul>
</nav>
<div class='body'>
  <router-outlet></router-outlet>
    <div class='hero' *ngIf='isHome'>
      <div class='intro large' [@appear]>
        <div class='title'>Hi, I'm Krishna Acondy.</div>
        <div routerLink='web-development' class='subtitle web-development'>I'm a web developer.</div>
        <div routerLink='design' class='subtitle design'>I design.</div>
        <div routerLink='photography' class='subtitle photography'>I take pictures.</div>
      </div>
    </div>
</div>