<!-- <app-gallery [images]='images' [config]='config'></app-gallery> -->
<div class='container' [ngClass]="{'row': mode === 'sidebar', 'column': mode === 'menu-bar'}">
  <aside #sidebar class='sidebar' fxHide fxShow.gt-sm>
    <app-sidebar height='calc(100vh - 2rem)'></app-sidebar>
  </aside>
  <aside #menubar class='menu-bar' fxHide fxShow.sm fxShow.lt-sm>
    <app-menu-bar></app-menu-bar>
  </aside>
  <main>
    <div class='hero'>
      <div class='intro' [@appear] [ngClass]="{'large': mode === 'sidebar'}">
        <div class='title'>Hi, I'm Krishna Acondy.</div>
        <div class='subtitle web-development'>I'm a web developer.&nbsp;</div>
        <div class='subtitle photography'>I take pictures.&nbsp;</div>
        <div class='subtitle design'>I design things.</div>
      </div>
    </div>
  </main>
</div>