@mixin image-button($url) {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  display: inline-block;
  background: url($url);
  background-size: cover;

  &:hover {
    opacity: 0.75;
  }
}

.sidebar-container {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 20vw;
  height: calc(100vh - 4rem);
  background-color: #ffffff;
  flex-direction: column;
  border-right: 1px solid #d9d9d9;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      cursor: pointer;
      padding: 2rem;
      font-size: 1.5rem;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contact {
    margin-top: auto;
    display: flex;
    justify-content: center;
    .github-logo {
      @include image-button('../../../assets/images/github-logo.png');
    }

    .instagram-logo {
      @include image-button('../../../assets/images/instagram-logo.png');
    }

    .linkedin-logo {
      @include image-button('../../../assets/images/linkedin-logo.png');
    }

    .email-icon {
      @include image-button('../../../assets/images/email.png');
    }
  }
}