.card {
    padding: 2rem;
    height: 20vh;
    background-color: #ffffff; 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

    .time-period, .title, .subtitle {
        font-family: 'Google Sans Medium';
    }

    .title {
        color: #129efc;
    }

    .subtitle {
        color: #808080;
    }
}

span {
    width: 100%;
    display: block;
}