<div class='timeline-container'>
  <div fxHide fxShow.gt-sm>
    <div class='items'>
      <div *ngFor='let item of items' class='item'>
        <app-timeline-card class='card' [item]='item'></app-timeline-card>
      </div>
    </div>
  </div>
  <div fxHide fxShow.sm fxShow.lt-sm>
    <div class='sm-items'>
      <div *ngFor='let item of items' class='item'>
        <app-timeline-card class='card' [item]='item'></app-timeline-card>
      </div>
    </div>
  </div>
</div>
<ng-template #blank>
    <div class='blank'></div>
</ng-template>