.timeline-container {
    display: flex;
    max-width: 97%;

    .items {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            margin: 1em 0;

            .timeframe {
                flex: 1;
                color: #129efc;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
            }

            .card {
                flex: 2;
            }
        }
    }

    .card{
        max-width: 80%;
    }
}