:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    margin-top: 15vh;
    background: url('../../assets/images/crane.svg') no-repeat;
    background-position: center;
    background-size: contain;
    &.light {
      background: url('../../assets/images/crane-dark.svg') no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .message {
    display: flex;
    width: 90%;
    justify-content: center;
    color: #ffffff;
    margin-top: 1%;
    font-size: larger;
    &.light {
      color: #2e2e2e;
    }
  }
}
