/* You can add global styles to this file, and also import other style files */
@import 'animations';

@font-face {
  font-family: 'Google Sans Regular';
  src: url('assets/fonts/GoogleSans-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Medium';
  src: url('assets/fonts/GoogleSans-Medium.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Bold';
  src: url('assets/fonts/GoogleSans-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Grouch';
  src: url('assets/fonts/grouch.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

div.web-development {
  color: #129efc;
}
li.web-development {
  &:hover {
    color: #129efc;
  }

  &.selected {
    background-color: #129efc;
    color: #ffffff;
  }
}

div.design {
  color: #0699b3;
}
li.design {
  &:hover {
    color: #0699b3;
  }

  &.selected {
    background-color: #0699b3;
    color: #ffffff;
  }
}

div.photography {
  color: #0dce7e;
}
li.photography {
  &:hover {
    color: #0dce7e;
  }

  &.selected {
    background-color: #0dce7e;
    color: #ffffff;
  }
}

.section-header {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #2e2e2e;
  z-index: 1;
  padding: 0.25%;

  &.dark {
    color: #f0f0f0;
  }

  .text {
    position: relative;
    z-index: 3;
  }
}

.place {
  margin: 0;
  color: #16ceb7;
}
