/* You can add global styles to this file, and also import other style files */
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

@font-face {
  font-family: 'Google Sans Regular';
  src: url('assets/fonts/GoogleSans-Regular.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Medium';
  src: url('assets/fonts/GoogleSans-Medium.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Bold';
  src: url('assets/fonts/GoogleSans-Bold.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: 'Google Sans Regular';
}

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

div.web-development {
  color: #129efc;
}
li.web-development {
  &:hover {
    color: #129efc;
  }

  &.selected {
    background-color: #129efc;
    color: #ffffff;
  }
}

div.design {
  color: #0699b3;
}
li.design {
  &:hover {
    color: #0699b3;
  }

  &.selected {
    background-color: #0699b3;
    color: #ffffff;
  }
}

div.photography {
  color: #0dce7e;
}
li.photography {
  &:hover {
    color: #0dce7e;
  }

  &.selected {
    background-color: #0dce7e;
    color: #ffffff;
  }
}

.section-header {
  font-size: 3rem;
}

.white {
  color: #ffffff;
}